@using SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels
@using SrednjeSkoleApp.Data.Models
@model RazredIndexVM
@{
    ViewData["Title"] = "ImeViewa";

***REMOVED***

<h2>Index</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Skolska godina</th>
            <th>Razred</th>
            <th>Razrednik</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
        <tr>
            <td>@x.SkolskaGodina</td>
            <td>@x.Razred</td>
            <td>@x.Razrednik</td>
            <td>
                <a asp-area="ModulAdministrator" asp-action="Detalji" asp-controller="Razred" asp-route-id="@x.RazredId" class="btn btn-primary">Detalji</a>
                <a asp-area="ModulAdministrator" asp-action="Obrisi" asp-controller="Razred" asp-route-id="@x.RazredId" class="btn btn-danger">Obrisi</a>
            </td>
        </tr>
    ***REMOVED***
    </tbody>
</table>
<a asp-area="ModulAdministrator" asp-action="Dodaj" class="btn btn-success">Dodaj</a>
