@using SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels
@using Microsoft.VisualStudio.Web.CodeGeneration

@model RazredStavkeAjaxIndexVM
@{
    ViewData["Title"] = "Index";
***REMOVED***

<h2>Razred stavke</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Broj u dnevniku</th>
            <th>Ucenik</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.rows)
    {
        <tr>
            <td>@item.RedniBroj</td>
            <td>@item.Ucenik</td>
            <td>
                @*<a asp-action="Uredi" asp-route-id="@item.UcenikRazredId" ajax-poziv="da" ajax-rezultat="nekiID" class="btn btn-danger">Uredi</a>*@
                <a asp-action="Obrisi" asp-route-id="@item.UcenikRazredId" ajax-poziv="da" ajax-rezultat="nekiID" class="btn btn-danger">Obrisi</a>
            </td>
        </tr>
***REMOVED***
    </tbody>
</table>

<a class="btn btn-success" ajax-poziv="da" ajax-rezultat="nekiID" asp-action="Dodaj" asp-area="ModulAdministrator" asp-route-id="@Model.RazredId">Dodaj</a>






