@using SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels
@using SrednjeSkoleApp.Data.Models
@model UcenikIndexVM

@{
    //Layout = "_Layout";
***REMOVED***
<h2>Učenici</h2>
<form asp-action="Trazi" asp-area="ModulAdministrator" method="get">
    <div class="form-group">
        <label>Ime: </label>
        <div>
            <input type="text" name="ime" value="@ViewData["imeFilter"]" />
        </div>
    </div>
    <div class="form-group">
        <label>Prezime: </label>
        <div>
            <input type="text" name="prezime" value="@ViewData["prezimeFilter"]" />
        </div>
    </div>
    <div class="form-group">
        <label>Email: </label>
        <div>
            <input type="text" name="email" value="@ViewData["emailFilter"]" />
        </div>
    </div>

    <input type="submit" value="Trazi" class="btn btn-info" />
</form>
<a asp-area="ModulAdministrator" asp-action="Dodaj" class="btn btn-success">Dodaj</a>


<div id="ucenikIndexId" style="border: 1px black solid"></div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Email</th>
            <th>Razred</th>
            <th>Smjer</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.imePrezime</td>
                <td>@x.email</td>
                <td>@x.razred</td>
                <td>@x.smjer</td>
                <td>
                    <a asp-area="ModulAdministrator" asp-action="Detalji" asp-route-id="@x.id" class="btn btn-primary">Detalji</a>
                    <a asp-area="ModulAdministrator" asp-action="Obrisi" asp-route-id="@x.id" class="btn btn-danger">Obrisi</a>
                </td>
            </tr>
    ***REMOVED***
    </tbody>
</table>



