@model IEnumerable<SrednjeSkoleApp.Data.Models.Cas>

@{
    ViewData["Title"] = "Index";
***REMOVED***

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Naslov)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opis)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Nastavnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nastavnik.Discriminator)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CasId">Delete</a>
            </td>
        </tr>
***REMOVED***
    </tbody>
</table>
